<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="output.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <%# EJS gör om detta till html %> 
    <h1 style ="<%= style %>"><%= title%></h1>
    <a href="<%=href %>">Logga in</a>
</body>
</html> 

flyttar all ovan kod och delar upp HTML i head och footer istället -->

<%- include('partials/head');%>

<div class="flex">

</div>

<h1 style ="<%= style %>"><%= title%></h1>

<a href="<%=href %>">Logga in</a>

<p class="color-pink-500">Hejhej nu testar jag tw</p>

<p>New here?</p>

<a class="mt-8 inline-block px-4 py-2 bg-pink-500 text-white" href="/signup">Sign up</a>

<%- include('partials/footer');%>