<%- include('partials/head');%>

<div class="flex">

</div>

<h1 style ="<%= style %>"><%= title%></h1>

<a href="<%=href %>">Logga in</a>

<p class="color-pink-500"></p>

<p>New here?</p>

<a class="mt-8 inline-block px-4 py-2 bg-pink-500 text-white" href="/signup">Sign up</a>

<%- include('partials/footer');%>